#pcontainer
{
	margin: auto;
	width: 999px;
	height: 100%;
	text-align: left;
}

.pfooter_link
{
	text-align:center;
	position:absolute;
	width:100px;
	height:16px;
}

.pfooter_link a
{
	text-decoration:none;
	color: #8C7B61;
	font-weight:bold;
	font-size:13px;
}

.pfooter_link a:hover
{
	color: #ccc;
}

.pfooter_raute
{
	position:absolute;
	width:11px;
	height:14px;
	top:3px;
}

#pcopyright
{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	display:block;
	font-size:12px;
	text-align:center;
	color:#524429;
	font-weight:bold;
}

#playnow
{
	position:relative;
	width:500px;
	left:365px;
	top:65px;
	text-align:center;
}

#playnow a
{
	font-size:20px;
	color:#FFDD00;
	font-weight:bold;
	text-decoration:none;
}


#pcopyright a
{
	text-decoration: none;
	color:#524429;
	font-weight:bold;
}

#pcopyright a:hover
{
	color:#8C7B61;
}


.pfooter30{
	left:30px;
}

.pfooter60{
	left:150px;
}

.pfooter100{
	left:180px;
}

.pfooter140{
	left:300px;
}

.pfooter180{
	left:330px;
}

.pfooter220{
	left:450px;
}

.pfooter250{
	left:480px;
}

.pfooter290{
	left:600px;
}

.pfooter320{
	left:630px;
}

.linkborder{
	position:relative;
	top:15px;
	left:60px;
	width:836px;
	height:16px;
}

.portal_text{
	color:#221701;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	width:300px;
	position:relative;
	left:470px;
	top:50px;
}